# Python cache files
__pycache__/
*.py[cod]

# Environment files
.env
*.env

# JSON files
*.json

# macOS system files
.DS_Store

# Logs and debug files
*.log

# VS Code settings
.vscode/

# Byte-compiled Python files
*.pyo
*.pyd

# Other unnecessary files
*.swp
*.swo